/* Global styles */
body {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
  }
  
  .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  
  h1 {
    font-size: 28px;
    color: #000;
  }
  
  label {
    display: block;
    margin-bottom: 10px;
    font-size: 18px;
    color: #000;
  }
  
  button {
    background-color: #000;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
  }
  
  /* Navbar styles */
  .navbar {
    overflow: hidden;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    padding-bottom: 50px;
  }
  
  .navbar a {
    text-decoration: none;
    margin-left: 20px;
    color: #000;
  }
  
  .navbar .logo {
    margin-right: 10px;
  }
  
  /* Style the active navbar link */
  .navbar a.active {
    background-color: #fff;
  }
  
  .navItems {
    display: flex;
    justify-content: space-between;
    width: 40%;
    
  }

  .navSelect {
    cursor: pointer;
    transition: transform 0.3s; /* Add a transition for smooth animation */
  }
  
  .navSelect:hover {
    transform: scale(1.2); /* Increase the scale of the text */
  }

  .message-container {
    background-color: #f2f2f2;
    border-radius: 8px;
    width: 400px;
    align-self: center;
    border-top: 40px;
    max-width: 500px;
    display: inline-flex;
    flex-direction: column;
    padding: 25px;
    height: 300px;
    margin: 20px;
  }

  .message-container-waitlist {
    background-color: #f2f2f2;
    border-radius: 8px;
    width: 400px;
    align-self: center;
    border-top: 40px;
    max-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 25px;
    height: 300px;
    margin: 20px;
  }
  
  .message {
    
    margin-bottom: 8px;
    padding: 8px 12px;
    border-radius: 16px;
    font-family: Arial, sans-serif;
  }
  
  .outgoing {
    background-color: #DCF8C6;
    align-self: flex-end;
  }
  
  .incoming {
    background-color: #EAEAEA;
    align-self: flex-start;
  }
  
  .message-text {
    margin: 0;
  }

  .notYetTyped {
    display: none;
  }

  input[type="submit"] {
    color: black;
    padding: 10px 20px;
    border: 2px solid black;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    background-color: transparent;
    margin-top: 30px;
  }

  .submitButton {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }

  input[type="text"],
  textarea,
  input[type="email"],
  input[type="password"] {
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    animation: blink-caret 1s infinite;
    font-family: Arial, sans-serif;
  }

  @keyframes blink-caret {
    50% {
      border-color: transparent;
    }
  }

  input[type="text"]:focus,
  textarea,
  input[type="email"]:focus,
  input[type="password"]:focus {
    outline: none;
  }

  #linkForm {
    display: block;
    padding: 10px;
  }
  
  .messageForm-text {
    font-family: Arial, sans-serif;
  }

  .headerGroup {
    display: flex;
    justify-content: center;
    flex-direction: row;

  }

  @media (max-width: 900px) {
    .headerGroup {
      flex-direction: column;
    }
    .navSelect {
        display: none;
    }
  }

@media (max-width: 430px) {
    .message-container {
    background-color: #f2f2f2;
    border-radius: 8px;
    width: 300px;
    align-self: center;
    border-top: 40px;
    max-width: 500px;
    display: inline-flex;
    flex-direction: column;
    padding: 25px;
    height: 200px;
    margin: 20px;
  }
  
}
.nextContainer {
  width: 100%;
  text-align: center;
  background-color: #fafafa;
  border: 1px solid #dbdbdb;
  border-radius: 3px;
  padding: 10px;
  max-width: 300px;
  margin: 0 auto;
}

h2 {
  font-family: 'Helvetica Neue', Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
  line-height: 1.3;
}

h2 span {
  font-weight: bold;
  color: #405de6;
}

.spam {
        opacity: 0;
        position: absolute;
        top: 0;
        left: 0;
        height: 0;
        width: 0;
        z-index: -1;
    }
